@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg-top: #38006b;
  --color-bg-bottom: #6a1b9a;
  --color-bg-variant: #572288;
  --color-primary: #b388ff;
  --color-primary-variant: rgba(179, 136, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-font: #b388ff;

  --transition: all 0.4s ease;

  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-ms: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-font);
  background: var(--color-bg-top);
  line-height: 1.7;
  background-image: url(/bg-texture.png);
}

/* ====== GENERAL STYLES ====== */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  height: 100vh;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-whtie);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-whtie);
  color: var(--color-bg-top);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg-top);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ===== MEDIA QUERIES(MEDIUM DEVICES) ===== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ===== MEDIA QUERIES(SMALL DEVICES) ===== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
